body {
  width: 1000px;
  height: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.text {
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
  quotes: "\00ab" "\00bb";
}

.gray {
  background-color: #777777;
}

.light-gray {
  background-color: #dcdcdc;
}

.head {
  width: 959px;
  height: 108px;
}

#logo {
  position: absolute;
  left: 70px;
  float: left;
  width: 122px;
  height: 108px;
}

#contact {
  position: absolute;
  left: 215px;
  float: left;
  width: 279px;
  height: 108px;
}

#more {
  position: absolute;
  right: 110px;
  width: 513px;
  height: 108px;
  float: left;
}

#more-text {
  float: right;
  padding-top: 20px;
  padding-right: 22px;
  text-align: right;
  width: 142px;
  height: 58px;
  color: white;
}

#more-text div {
  text-decoration: underline;
}

#content {
  float: left;
  height: 773px;
  width: 961px;
}

#left {
  float: left;
  width: 184px;
  height: 773px;
  position: relative;
  margin-right: 20px;
}

#left-menu {
  text-align: left;
  width: 184px;
  min-height: 0px;
  max-height: 639px;
  display: table;
  color: white;
  margin-bottom: 10px;
}

#left-menu ul {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 14px;
  left: 14px;
  float: left;
}

#left-menu ul li {
  list-style-type: none;
}

#left-menu ul #header {
  font-weight: bolder;
}

#green {
  position: absolute;
  bottom: 0;
  width: 184px;
  height: 134px;
}

#center {
  width: 757px;
  height: 772px;
  float: left;
}

#text1 {
  width: 757px;
  height: 210px;
  margin-bottom: 19px;
}

#text1_text {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 666px;
  height: 168px;
}

.bolder {
  font-weight: bolder;
}

.bold {
  font-weight: bold;
}

#img-list {
  float: left;
  width: 757px;
  height: 325px;
  margin-bottom: 18px;
  width: 757px;
}

#img-list img {
  float: left;
  margin-right: 21px;
  width: 134px;
  height: 153px;
  margin-bottom: 20px;
}

#img-list img:nth-child(5n) {
  margin-right: 0;
}

#text2 {
  float: left;
  width: 368px;
  height: 200px;
  margin-right: 17px;
}

#text2 div {
  margin-top: 23px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 31px;
}

#text3 {
  float: left;
  width: 371px;
  height: 200px;
}

#text3 div {
  margin-top: 23px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 31px;
}

#footer {
  float: left;
  width: 958px;
  height: 180px;
  position: absolute;
  bottom: 25px;
}

#foot-left {
  float: left;
  width: 297px;
  height: 180px;
  margin-right: 28px;
  color: white;
  column-count: 2;
  column-gap: 4px;
  column-width: 20px;
  text-align: left;
}

#foot-left #column1 {
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 5px;
}

#foot-left #column2 {
  padding-left: 20px;
  padding-top: 10px;
}

#foot-center {
  float: left;
  width: 297px;
  height: 180px;
  margin-right: 28px;
  color: white;
}

#foot-right {
  float: left;
  width: 308px;
  height: 180px;
}

#foot-text {
  width: 308px;
  height: 75px;
  margin-bottom: 28px;
}

#foot-img {
  width: 308px;
  height: 77px;
}

hr {
  float: left;
  margin-top: 19px;
  margin-bottom: 22px;
  width: 959px;
  height: 1px;
  border-width: 0px;
  margin-left: 0px;
}

#lower-hr {
  float: left;
  margin-top: 24px;
  position: absolute;
  bottom: 227px;
}
